.collection-page-container h2 {
  width: 80%;
  padding: 0 0 0 30px;
  margin: 1rem 0 1rem 0;
  text-transform: capitalize;
  font-style: italic;
  text-shadow: 1px 1px 2px #969696;
  font-size: 1.3rem; }

.collection-page-container h2 + p {
  padding: 0 0 0 30px;
  margin: 0 0 1rem 0; }

.collection-page-container ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #fff; }
  .collection-page-container ul .artwork-item .artwork-top {
    position: relative;
    font-family: "Raleway", sans-serif;
    text-align: left;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2rem;
    line-height: 1.5;
    min-height: 267px;
    background-color: #86828c; }
    .collection-page-container ul .artwork-item .artwork-top .art-museum-link {
      position: absolute;
      color: #fff;
      text-decoration: none;
      margin: 1rem 0 0 40px;
      font-style: italic;
      font-size: 1.1rem;
      text-shadow: 1px 1px 1px #969696; }
    .collection-page-container ul .artwork-item .artwork-top img {
      width: 100%;
      z-index: 1; }
    .collection-page-container ul .artwork-item .artwork-top .artwork-info {
      position: absolute;
      bottom: 2rem;
      width: 100%;
      margin: 0;
      max-height: 193px; }
      .collection-page-container ul .artwork-item .artwork-top .artwork-info .artwork-artist {
        margin: .5rem 0 0 1rem;
        font-size: 1.2rem;
        font-variant: normal; }
      .collection-page-container ul .artwork-item .artwork-top .artwork-info .artwork-artist-tag {
        border-bottom: 2px solid #fff;
        margin: 0 0 .5rem 1rem;
        text-shadow: 1px 1px 1px #969696; }
      .collection-page-container ul .artwork-item .artwork-top .artwork-info .artwork-title {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-variant: initial;
        text-transform: capitalize;
        width: 80%;
        max-height: 72px;
        overflow: hidden; }
      .collection-page-container ul .artwork-item .artwork-top .artwork-info p {
        margin: 0 0 0 1rem;
        word-wrap: break-word;
        width: calc(100% - 2rem);
        text-shadow: 1px 1px 2px #969696; }
    .collection-page-container ul .artwork-item .artwork-top .chat-btn {
      -webkit-transition: all .2s ease 0s;
      -moz-transition: all .2s ease 0s;
      -o-transition: all .2s ease 0s;
      opacity: .85;
      border: 1px dotted rgba(178, 187, 205, 0.4);
      border-radius: 3px;
      padding: 7px 30px 6px 15px;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem;
      float: right;
      background-color: #E8563C; }
      .collection-page-container ul .artwork-item .artwork-top .chat-btn:hover {
        background-color: #2b3341;
        color: #fff;
        cursor: pointer; }
      .collection-page-container ul .artwork-item .artwork-top .chat-btn a {
        color: #fff;
        text-decoration: none;
        position: relative; }
