@import "../../shared.scss";

.collection-page-container {
  h2 {
    width: 80%;
    padding: 0 0 0 30px;
    margin: 0 0 1rem 0;
    text-transform: capitalize;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    font-size: 1.3rem;
  }
  h2 + p {
    padding: 0 0 0 30px;
    margin: 0 0 1rem 0;
  }
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    .artwork-item {
      .artwork-top {
        position: relative;
        font-family: $font;
        text-align: left;
        font-weight: bold;
        font-variant: small-caps;
        font-size: 1.2rem;
        line-height: 1.5;
        .art-museum-link {
          position: absolute;
          color: #fff;
          text-decoration: none;
          margin: 1rem 0 0 40px;
          font-style: italic;
          font-size: 1.1rem;
        }
        img {
          width: 100%;
          z-index: 1;
        }
        .artwork-info {
          position: absolute;
          bottom: 2rem;
          width: 100%;
          margin: 0;
          .artwork-artist {
            margin: .5rem 0 0 1rem;
            font-size: 1.2rem;
            font-variant: normal;
          }
          .artwork-artist-tag {
            border-bottom: 2px solid #fff;
            margin: 0 0 .5rem 1rem;
            text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
          }
          .artwork-title {
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;
            font-variant: initial;
            text-transform: capitalize;
            width: 80%;
          }
          p {
            margin: 0 0 0 1rem;
            word-wrap: break-word;
            width: calc(100% - 2rem);
            text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
          }
        }
        .chat-btn {
          -webkit-transition: all .2s ease 0s;
          -moz-transition: all .2s ease 0s;
          -o-transition: all .2s ease 0s;
          opacity: .85;
          border: 1px dotted rgba(178, 187, 205, 0.4);
          border-radius: 3px;
          padding: 7px 30px 6px 15px;
          font-size: 1rem;
          text-transform: uppercase;
          margin: 1rem;
          float: right;
          background-color: $orange-base;
          &:hover {
            background-color: #2b3341;
            color: #fff;
            cursor: pointer;
          }
          a {
            color: #fff;
            text-decoration: none;
            position: relative;
            &::after {
              //position: absolute;
              //content: "";
              //background: url("../../../assets/arrow-19-48.png") no-repeat;
              //width: 10px;
              //height: 10px;
              //right: 8px;
              //top: 11px;
            }
          }
        }
      }
    }
  }
}