$grey-base: #e0e1e4;
$grey-light: #9e9fa1;
$grey-medium: #86828c;
$grey-dark: #3e3640;
$orange-base: #E8563C;

$header-font: 'Montserrat', sans-serif;
$font: 'Raleway', sans-serif;

%btn {
  color: #fff;
  background-color: $orange-base;
  border-radius: 3px;
  padding: 10px;
  border: 0;
  margin: 0 0 0 5%;
}